In [2]:
import pandas as pd

In [3]:
pokemonstats = pd.read_csv("pokemon.csv")

In [4]:
pokemonstats.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp Atk,Sp Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemonstats.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp Atk', 'Sp Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
poke_subset = pokemonstats[['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Speed', 'Generation', 'Legendary']]
poke_subset

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,60,1,False
2,Venusaur,Grass,Poison,80,82,83,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,1,False
4,Charmander,Fire,NaN,39,52,43,65,1,False
...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,6,True
799,Volcanion,Fire,Water,80,110,120,70,6,True

In [16]:
poke_subset.columns = [
    "Name",
    "Type 1", 
    "Type 2",
    "Hit Points",
    "Attack",
    "Defense",
    "Speed",
    "Generation",
    "Legendary"
]
poke_subset

,Name,Type 1,Type 2,Hit Points,Attack,Defense,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,60,1,False
2,Venusaur,Grass,Poison,80,82,83,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,1,False
4,Charmander,Fire,NaN,39,52,43,65,1,False
...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,6,True
799,Volcanion,Fire,Water,80,110,120,70,6,True

In [18]:
poke_subset.to_html("stats.html")

In [19]:
poke_subset.describe()

       Hit Points      Attack     Defense       Speed  Generation
count  800.000000  800.000000  800.000000  800.000000   800.00000
mean    69.258750   79.001250   73.842500   68.277500     3.32375
std     25.534669   32.457366   31.183501   29.060474     1.66129
min      1.000000    5.000000    5.000000    5.000000     1.00000
25%     50.000000   55.000000   50.000000   45.000000     2.00000
50%     65.000000   75.000000   70.000000   65.000000     3.00000
75%     80.000000  100.000000   90.000000   90.000000     5.00000
max    255.000000  190.000000  230.000000  180.000000     6.00000

In [21]:
poke_subset[poke_subset["Hit Points"]>=80]

,Name,Type 1,Type 2,Hit Points,Attack,Defense,Speed,Generation,Legendary
2,Venusaur,Grass,Poison,80,82,83,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,1,False
22,Pidgeot,Normal,Flying,83,80,75,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,121,1,False
36,Nidoqueen,Poison,Ground,90,92,87,76,1,False
...,...,...,...,...,...,...,...,...,...
793,Yveltal,Dark,Flying,126,131,95,99,6,True
794,Zygarde50% Forme,Dragon,Ground,108,100,121,95,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,6,True
799,Volcanion,Fire,Water,80,110,120,70,6,True

In [22]:
poke_subset["Name"].value_counts()

Zorua         1
Houndoom      1
Diancie       1
Tropius       1
Froakie       1
             ..
Cherrim       1
Tentacool     1
Swoobat       1
Kakuna        1
Whimsicott    1
Name: Name, Length: 800, dtype: int64

In [25]:
pd.DataFrame(poke_subset["Type 1"].value_counts())

          Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Electric      44
Rock          44
Dragon        32
Ground        32
Ghost         32
Dark          31
Poison        28
Fighting      27
Steel         27
Ice           24
Fairy         17
Flying         4

In [26]:
pd.DataFrame(poke_subset["Type 2"].value_counts())

          Type 2
Flying        97
Ground        35
Poison        34
Psychic       33
Fighting      26
Grass         25
Fairy         23
Steel         22
Dark          20
Dragon        18
Ghost         14
Rock          14
Ice           14
Water         14
Fire          12
Electric       6
Normal         4
Bug            3

In [27]:
pd.DataFrame(poke_subset["Legendary"].value_counts())

       Legendary
False        735
True          65

In [28]:
poke_subset[poke_subset["Speed"]>=150]

,Name,Type 1,Type 2,Hit Points,Attack,Defense,Speed,Generation,Legendary
71,AlakazamMega Alakazam,Psychic,NaN,55,50,65,150,1,False
154,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,150,1,False
315,Ninjask,Bug,Flying,61,90,45,160,3,False
428,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,3,True
429,DeoxysAttack Forme,Psychic,NaN,50,180,20,150,3,True
431,DeoxysSpeed Forme,Psychic,NaN,50,95,90,180,3,True

In [30]:
poke_subset[poke_subset["Defense"]>=150]

,Name,Type 1,Type 2,Hit Points,Attack,Defense,Speed,Generation,Legendary
87,SlowbroMega Slowbro,Water,Psychic,95,75,180,30,1,False
98,Cloyster,Water,Ice,50,95,180,70,1,False
103,Onix,Rock,Ground,35,45,160,70,1,False
223,Steelix,Steel,Ground,75,85,200,30,2,False
224,SteelixMega Steelix,Steel,Ground,75,125,230,30,2,False
230,Shuckle,Bug,Rock,20,10,230,5,2,False
268,TyranitarMega Tyranitar,Rock,Dark,100,164,150,71,2,False
332,Aggron,Steel,Rock,70,110,180,50,3,False
333,AggronMega Aggron,Steel,NaN,70,140,230,50,3,False
413,MetagrossMega Metagross,Steel,Psychic,80,145,150,110,3,False
414,Regirock,Rock,NaN,80,100,200,50,3,True
416,Registeel,Steel,NaN,80,75,150,50,3,True
424,GroudonPrimal Groudon,Ground,Fire,100,180,160,90,3,True
430,DeoxysDefense Forme,Psychic,NaN,50,70,160,90,3,True
456,Bastiodon,Rock,Steel,60,52,168,30,4,False
749,Doublade,Steel,Ghost,59,110,150,35,6,False
751,AegislashShield Forme,Steel,Ghost,60,50,150,60,6,False
773,Carbink,Rock,Fairy,50,50,150,50,6,False
789,Avalugg,Ice,NaN,95,117,184,28,6,False
795,Diancie,Rock,Fairy,50,100,150,50,6,True